
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Smart India Hackathon</title>fnod
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <style>
        body {

            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        html { overflow-y: hidden; }

    </style>

    </head>







    <body background="/uploads/585423181-airplane-wallpaper-hd.jpg">
    <div style="border: 2px solid black; display: inline-block;padding: 20px;color: whitesmoke;font-family: 'IBM Plex Mono', monospace;background: #2a1758;border-radius: 50%;margin-top: 1%;">
        <h1>GST.ino</h1>


    </div>


    <img src="/uploads/SIH_2018_logo.jpg" align="right" width="100px" height="110px" style="border: 1px solid black;margin: 1%;">

    {{>home/generate}}







</body>

</html>